useDynLib(hdbcp, .registration=TRUE)
export(generate_mean_datasets)
export(generate_cov_datasets)
export(majority_rule_mxPBF)
export(mxPBF_mean)
export(mxPBF_cov)
export(mxPBF_combined)
export(mvrnorm_cpp)
importFrom(Rcpp, evalCpp)
importFrom("dplyr", "%>%")
importFrom("stats", "runif")
importFrom("stats", "var")
importFrom("stats", "setNames")
importFrom("stats", "median")
